# Python
__pycache__/
*.py[cod]
*.swp
*.tmp
__pycache__/

# Python Virtual environment
venv/
*.egg-info/
dist/
build/
*.pyc
*.pyo
*.pyd

# Testing Scripts
backend/scripts/test_odata.py

# Database files
*.sqlite3
*.db
*.db-journal

# React
node_modules/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
public/build/
bench_results.csv

# Other
.DS_Store
Thumbs.db

# Specific files
backend/references_brainstorm.txt
